body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #f8f4f4;
}

.nvbar {
    border-color: black ;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
    height: auto !important;
    position: fixed;
    width: 100%;


}